body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

h1 {
    color: #333;
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

form label {
    font-weight: bold;
    margin-bottom: 10px;
}

form input,
form textarea,
form select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 10px;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px; /* Adjust the padding to set the button size */
    width: fit-content; /* Ensure the button width fits its content */
}

form input[type="submit"]:hover {
    background-color: #555;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    vertical-align: middle; /* Adjusts vertical alignment */
}

th {
    background-color: #f2f2f2;
}

td:last-child {
    text-align: center;
}

a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

a:hover {
    text-decoration: underline;
    color: #555;
}

.priority-container {
    display: flex; /* Aligns priority text horizontally */
    align-items: center; /* Vertically centers priority text */
}

.priority {
    padding: 5px 10px; /* Adds padding to priority text */
    border-radius: 3px; /* Adds rounded corners to priority text */
    color: #fff; /* Sets text color to white */
    font-weight: bold;
}

.priority.low {
    background-color: green;
}

.priority.medium {
    background-color: orange;
}

.priority.high {
    background-color: red;
}